In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df_control = pd.read_csv("../data_files/clean/web_data_filtered_control.csv")
df_test = pd.read_csv("../data_files/clean/web_data_filtered_test.csv")
display(df_control)

,client_id,visitor_id,visit_id,process_step,date_time,variation
0,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control
1,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control
2,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,Control
3,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,Control
4,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control
...,...,...,...,...,...,...
140693,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:30:25,Control
140694,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,Control
140695,9998346,292425655_16607136645,189177304_69869411700_783154,confirm,2017-03-29 15:37:28,Control
140696,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,Control
140697,9998921,960034051_85687824805,378424178_59565976155_8051,start,2017-04-18 11:26:31,Control

In [3]:
display(df_test)

,client_id,visitor_id,visit_id,process_step,date_time,variation
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test
...,...,...,...,...,...,...
171481,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test
171482,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test
171483,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test
171484,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test
171485,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test

In [ ]:
#function to drop values which list 'confirm', as there is no way to encounter an error at this step 
def remove_confirms(df):
    df_steps = df[df['process_step'] != 'confirm']
    return df_steps

In [5]:
df_control = remove_confirms(df_control)
df_test = remove_confirms(df_test)

In [ ]:
#TO DO: group the visit_id column by the count of each process step, minus 1 for the initial occurance (amount of repeats of each step)

def error_counts(df):
    grouped_counts = df.groupby('client_id')['process_step'].value_counts()
    adjusted_counts_df = grouped_counts.reset_index(name='adjusted_count')
    adjusted_counts_df['adjusted_count'] = adjusted_counts_df['adjusted_count'] - 1
    adjusted_counts_df.columns = ['client_id', 'process_step', 'adjusted_count']
    return adjusted_counts_df

In [16]:
df_control_error = error_counts(df_control)
df_test_error = error_counts(df_test)